body {
    padding: 45px 0 0 0;
}
#topalert {
    display: none;
}
#diffmodal {
    width: 900px;
    margin-left: -450px;
    top: 3%;
    height: 650px;
}
.modal-body {
    font-family: monospace;
}
span.deleted {
    text-decoration: line-through;
    color: red;
}
span.added {
    color: green;
    font-weight: bold;
}

.file-list td.options {
    white-space: nowrap;
}
.file-list td.filename {
    width: 100%;
}
span.conflict {
    color: red;
}