<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
<title>webgit - <?=$_SESSION['currentProject'] ?></title>
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="css/local.css" rel="stylesheet" media="screen">
<link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
</head>
<body>

<div class="container-fluid">

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" href="#">webgit</a>
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Refresh files</a></li>
                <li><a href="#">Refresh commits</a></li>
            </ul>

<?php
if (!empty(config::$projects) && is_array(config::$projects)) {
?>
            <form class="navbar-form pull-right">
                <select name="select-project" class="select-project span3">
<?php
foreach (config::$projects as $name=>$project) {
?>
                <option value="<?php
echo htmlspecialchars($name);
?>"<?php
if ($_SESSION['currentProject'] == $name) {
    echo ' selected="selected"';
}
?>>
<?php
    echo htmlspecialchars($name);
?>
                </option>
<?php
}
?>
                </select>
            </form>
<?php
}
?>
        </div>
    </div>

    <div class="alert" id="topalert">
        <button type="button" class="close"
                data-dismiss="alert">&times;</button>
        <span id="topalert-text"><?php
if (count($_SESSION['alert'])) {
    foreach ($_SESSION['alert'] as $alert) {
        echo $alert;
?>
        <br>
<?php
    }
    $_SESSION['alert'] = array();
}
?></span>
    </div>

    <div class="modal hide fade" id="diffmodal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
            <h3>Message</h3>
        </div>
        <div class="modal-body"><?php
if (!empty($_SESSION['dialog'])) {
    foreach ($_SESSION['dialog'] as $dialogEl) {
        echo preg_replace(array('/\[-(.*)-\]/U', '/{\+(.*)\+}/U'),
            array('<span class="deleted">\1</span>', '<span class="added">\1</span>'),
            $dialogEl);
?>
        <br>
<?php
    }
    $_SESSION['dialog'] = array();
}
?></div>
    </div>

    <div class="row-fluid">
        <div class="span6">

            <form class="form-horizontal" action="<?=config::$webPath;?>processFiles.php" method="POST">
<?php
if (count($statusOut)>0) {
?>
                <div class="control-group">
                    <textarea name="message" id="inputMessage" placeholder="Message" class="span12"></textarea>
                </div>

                <div class="control-group">
                    <button id="buttonCommit" type="submit" name="action" value="commit" class="btn">Commit</button>
                    <button id="buttonCheckout" type="submit" name="action" value="checkout" class="btn">Discard local changes</button>
                </div>
                <table class="table table-hover file-list">
                    <thead>
                    <tr>
                        <th><input name="checkFileAll" type="checkbox" class="checkFileAll"></th>
                        <th>File</th>
                    </tr>
                    </thead>
                    <tbody>
<?php
foreach($statusOut as $key=>$statusEl) {
?>
                    <tr>
                        <td class="options"><label><input type='checkbox' id='<?php
echo md5($statusEl['name']);
?>' class='checkFile' value='<?php
    echo $statusEl['name'];
?>' name='file[]'>
<?php
    echo $statusEl['status'];
?>
                        </label></td>
                        <td class="filename"><label for='<?php
echo md5($statusEl['name']);
?>'>
<?php
    echo $statusEl['name'];
?>
                        </label></td>
                        <td class="options">
                            <button type="button" class="btn btn-mini diff" data-href="<?=config::$webPath;?>processFiles.php?action=diffajax<?='??' == $statusEl['status'] ? 'null' : '' ?>&file=<?=urlencode($statusEl['name'])?>">diff</button>
                            |
<?php
if ('??' == $statusEl['status']) {
?>
                        <a class="delete" href="<?=config::$webPath;?>processFiles.php?action=delete&file=<?=urlencode($statusEl['name'])?>">delete</a>
<?php
} else {
?>
                        <a href="<?=config::$webPath;?>processFiles.php?action=checkout&file=<?=urlencode($statusEl['name'])?>">discard local changes</a>
<?php
}
?>
<?php
if ($statusEl['conflict']) {
?>
                        | <span class="conflict">CONFLICT</span>
                        | <a href="<?=config::$webPath;?>processFiles.php?action=resolve&file=<?=urlencode($statusEl['name'])?>">resolve</a>
                        | <a href="<?=config::$webPath;?>processFiles.php?action=ours&file=<?=urlencode($statusEl['name'])?>">ours</a>
                        | <a href="<?=config::$webPath;?>processFiles.php?action=theirs&file=<?=urlencode($statusEl['name'])?>">theirs</a>
                        | <a href="<?=config::$webPath;?>processFiles.php?action=commitresolv&file=<?=urlencode($statusEl['name'])?>">commit</a>
<?php
}
?>
                        </td>
                    </tr>
<?php
}
?>
                    </tbody>
                </table>
<?php
} else {
?>
                <h5>No local changes</h5>
<?php
}
?>

            </form>
        </div>
        <div class="span6">

            <form action="<?=config::$webPath;?>processCommits.php" method="POST">
                <input type="hidden" name="operation" value="">
<?php
if (is_dir($_SESSION['workDir'].'/.git/rebase-apply')) {
?>
                <button type="submit" name="action" value="pull" class="btn">Rebase continue</button>
<?php
} else {
?>
                <button type="submit" name="action" value="pull" class="btn">Pull</button>
<?php
}
?>
<?php if (count($logLocal)>0) { ?>
                <button type="submit" name="action" value="push" class="btn">Push</button>
<?php } ?>
                <h4>Local Commits</h4>
<?php
if ($logLocal) {
?>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Committer</th>
                        <th>Date</th>
                        <th>Message</th>
                    </tr>
                    </thead>
                    <tbody>
<?php
foreach($logLocal as $logEl) {
?>
                    <tr>
                        <td>
<?php
echo $logEl['authorName'];
?>
                        </td>
                        <td>
<?php
echo $logEl['authorDate'];
?>
                        </td>
                        <td>
<?php
echo $logEl['message'];
?>
                        </td>
                    </tr>
<?php
}
?>
                    </tbody>
                </table>
<?php
} else {
?>
                <h5>No local commits</h5>
<?php
}
?>

                <h4>Server Commits</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Committer</th>
                        <th>Date</th>
                        <th>Message</th>
                    </tr>
                    </thead>
                    <tbody>
<?php
foreach($logServer as $logEl) {
?>
                    <tr>
                        <td>
<?php
echo $logEl['authorName'];
?>
                        </td>
                        <td>
<?php
echo $logEl['authorDate'];
?>
                        </td>
                        <td>
<?php
echo $logEl['message'];
?>
                        </td>
                    </tr>
<?php
}
?>
                    </tbody>
                </table>

            </form>

        </div>
    </div>
</div>

<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/local.js"></script>
</body>
</html>